*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Keep project-specific settings if desired, but general rule is to ignore .idea
# !.idea/runConfigurations/
# !.idea/codeStyles/
